.window {
    width: 200px;
    height: 150px;
    background-color: rgb(67, 67, 67);
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .content {
    padding: 10px;
  }
  