.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: rbg(48, 48, 48);
    color: white;
  }
  
  .content {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  